/* Sobreposição de algumas regras de CSS de bibliotecas utilizadas no projeto. */

a {
    text-decoration: none !important;
}

.react-slideshow-fade-images-wrap {

    flex-wrap: nowrap !important;
}

div.rs-calendar-table-cell-content {
    height: unset !important;
}

span.rs-calendar-table-cell-day {
    margin-top: 7px !important;
}

button.slick-arrow.slick-prev {
    display: block;
    left: 10px;
    z-index: 1;
}

button.slick-arrow.slick-next {
    display: block;
    right: 10px;
    z-index: 1;
}